/*Navegación*/
	body {
		padding-top: 65px;
		background-color: #777777;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23000000' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");	
	}

	.nav-container {
		display: flex;
		background-color: #aaa;
		padding: 5px 10px;
		height: 65px;
		position: fixed;
		width: 100%;
		margin-top: -65px;
	}

	.boton-res {
		display: none;
	}

	.nav-img {
		height: 55px;
	}

	.nav-ul {
		width: 100%;
		text-align: center;
	}

	.nav-ul-li {
		display: inline-block;
		height: 55px;
	}

	.nav-container li {
		width: 130px;
		height: 55px;
	}

	.nav-ul a {
		display: inline-block;
		text-decoration: none;
		color: #fff;
		width: 130px;
		height: 55px;
		padding-top: 17px;
		font-size: 15px;
	}

	.nav-ul a:hover {
		border-bottom: 5px solid #fff;
	}

/* Recomendaciones */
	/*Texto*/	
		.container-tittle {
			text-align: right;
			padding-top: 10px;
			height: 80px;
			margin-bottom: -80px;
			padding-right: 20px;
			transition: .9s;
		}

		.container-tittle p {
			display: inline-block;
			font-size: 45px;
			border: 5px solid #000;
			color: #000;
			padding: 5px 10px;
		}

	/* Recomendacion Seccion */

		.container-recommend {
			width: 100%;
			height: calc(100vh - 65px);
			background-repeat: no-repeat;
			background-size: 100%;
			display: flex;
			align-items: center;
			padding: 20px;
			background-position: center ;
			transition: 1s;
		}

		.container-recommend .fas {
			height: 100%;
			width: 5%;
			display: flex;
			align-items: center;
			font-size: 30px;
			justify-content: center;
		}

		.container-recommend .fas:hover {
			opacity: .5;
			cursor: pointer;
		}

		.container-recommend .right {
			margin-left: 55%;
		}

		.recommend {
			width: 35%;
			text-align: center;
			margin: 0;
		}

		.recommend .tittle {
			font-size: 35px
		}

		.recommend .paragraph {
			font-size: 25px;
			margin: 10px 0px;
		}

	/*Recomendacion Js*/
		/*Color*/
			/*Recommend0*/
				.back0 {
					color: #222;
				}

				.r-color0 p, .back0 a {
					color: #222;
					border-color: #222;
				}

			/*Recomend1*/		
				.back1 {
					color: #fff;
				}

				.r-color1 p, .back1 a {
					color: #fff;
					border-color: #fff;
				}
				
			/*Recommend2*/
				.back2 {
					color: #ddd;
				}

				.r-color2 p, .back2 a{
					color: #ddd;
					border-color: #ddd;
				}

		/*Texto*/
			/*derecha*/
				.recommend0, .recommend1, .recommend2 {
					display: none;	
				}

				.active {
					display: block;
				}
		/*Imagenes*/
			.back0 {
				background-image: url(img/KoeNoKatachi-1280x835.jpg);
			}

			.back1 {
				background-image: url(img/kakegurui-1280x835.jpg);
			}

			.back2 {
				background-image: url(img/BunnyGirlSenpai-1280x835.jpg);
			}

/*Animes*/
	.container-anime {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 5px;
	}

	.container-anime .tittle b {
		color: #fff;
		border: 5px solid #fff;
		padding: 5px 10px;
		font-size: 40px;
	}

	.anime {
		display: flex;
		flex: flex-end;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}

	.container-section {
		background-color: #fff;
		min-width: 250px;
		height: 250px;
		margin: 10px 10px;
		padding: 15px;
	}

	.container-section img {
		background-color: #000;
		width: 220px;
		height: 135px;
	}

	.anime-tittle {
		font-size: 25px;
		border: 5px solid #000;
		margin-bottom: 20px;
	}

	.container-section a {
		text-decoration: none;
		color: #000;
		border: 5px solid #000;
		padding: 2.5px 5px;
	}

	.container-section .fas {
		margin-right: 2px ;
	}

/*Productos*/
	.container-products {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 5px;
		background-color: #333;
	}

	.container-product .tittle b {
		color: #fff;
		border: 5px solid #fff;
		padding: 5px 10px;
		font-size: 40px;
	}

	.products {
		display: flex;
		flex: flex-end;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}

	.container-product {
		background-color: #fff;
		min-width: 250px;
		height: 250px;
		margin: 10px 10px;
		padding: 15px;
	}

	.container-product img {
		background-color: #000;
		width: 220px;
		height: 135px;
	}

	.product-name {
		font-size: 25px;
		border: 5px solid #000;
		margin-bottom: 20px;
	}

	.container-section a {
		text-decoration: none;
		color: #000;
		border: 5px solid #000;
		padding: 2.5px 5px;
	}

	.container-section .fas {
		margin-right: 2px ;
	}

/*Botones*/	
	.boton {
		display: inline-block;
		width: 120px;
		height: 50px;
		font-size: 20px;
		padding-top: 9px;
		text-decoration: none;
		border: 5px solid #000;
		color: #000;
	}

/*responsive recomendaciones*/
	/*responsive 1024 recommend*/
		@media only screen and (max-width: 1025px)	{
			.container-tittle p {
				font-size: 35px;
			}

			.container-recommend {
				width: 100%;
				height: 391px;
			}

			.tittle {
				font-size: 25px;
			}

			.paragraph {
				font-size: 20px;
			}
		}

	/*responsive 675-930*/	
		@media only screen and (max-width: 930px) {
			/*nav-res*/
				.nav-container {
					display: block;
					padding: 0px;
				}

				.nav-img {
					margin: 5px 0px 0px 10px;
				}

				.nav-ul{
					width: 25%;
					height: 100vh;
					background-color: #aaad;
					transform: translate(-300px);
					transition: transform 1s ease-in-out;
					margin-top: 5px;
				}

				.nav-ul li {
					display: block;
					width: 100%;
				}

				/*nav-menu*/
					.show {
						transform: translate(0px);
					}

					.boton-res {
						display: inline-block;
						position: absolute;
						right: 10px;
						top: 10px;
						font-size: 45px;
						cursor: pointer;
					}
		}
	/*responsive 450-675*/	
		@media only screen and (max-width: 675px) {
			/*recommend responsive*/
				.container-tittle p {
					font-size: 22.5px;
					border: 3.75px solid #000;
				}

				.container-recommend {
					width: 100%;
					height: 290px;
				}

				.tittle {
					font-size: 25px;
					margin-bottom: 25px;
				}

				.paragraph {
					display: none;
				}

				.boton {
					width: 90px;
					height: 37.5px;
					font-size: 15px;
					padding-top: 6.75px;
					border: 3.75px solid #000;
			}
		}

	/*responsive 300-450*/
		@media only screen and (max-width: 500px){
			/*nav-menu*/
				.nav-ul {
					width: 45%;
				}

			/*recommend*/			
				.container-tittle p {
					font-size: 20px;
				}

				.container-recommend {
					width: 100%;
					height: 196px;
				}

				.recommend .tittle {
					font-size: 20px;
				}

				.boton {
					width: 45px;
					height: 18.75px;
					font-size: 7.5px;
					padding-top: 3.375px;
					border: 3px solid #000;
				}
		}